@charset "UTF-8";
/* CSS Document */

.logo {
	width: 250px;
	display: block;
	margin: 0px auto;
	
}

nav {
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 5px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav li {

	display: inline-block;
	padding: 0 50px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	margin-top: -40px;
}

nav a:link {
	color: black;
	text-decoration: none;

}
	

.home {
	background-image: url(../images/sunsettam.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	position: absolute;
	background-attachment: fixed;
}

h1 {
	font-family: above;
	font-weight: 700px;
	font-size: 45px;
	text-align: center;
	margin-bottom: 6px;
	margin-top: 30px;
	color: white;
	padding: 20px;
	
}

.pages h1 {
	font-family: above;
	font-weight: 700px;
	font-size: 60px;
	text-align: center;
	margin-bottom: 6px;
	padding: 50px;
	color: black;
}

h2 {
	font-family: above;
	font-weight: 700px;
	font-size: 40px;
	text-align: center;
	margin-bottom: 6px;
	
}


p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	line-height: 1.8;
}	

.title p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	line-height: 2.5;
	color: white;
}

.title {
	padding:10px;
	margin: 280px;
}


footer {
	padding: 10px;
	
}

.video {
	background-color: #447D7C;
	width: 100%;
	height: 100px;
}

.words {
	background: white;
	height: 400px;
	width: 750px;
	padding: 40px;
	display: block;
	margin: 0px auto;
	
/*changed width from 100% to new dimensions, maybe change if neeeded*/
}

@font-face{
	font-family: above;
	src: url(../fonts/above.ttf)
}

.words h1 {
	font-family: above;
	font-size: 50px;
	text-align: center;
	margin-bottom: 6px;
	color:black;
}



.words p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	line-height: 1.8;
	color:black;
}	






/*beginning of image sldier*/
#imgslider1 {
  	position:relative;
	height: 500px;
	width: 750px;
  	margin: 0 auto;
	
}

#imgslider1 img {
	position: absolute;
	width: 750px;
	left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

 @keyframes imgslider1FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#imgslider1 img.top {
animation-name: imgslider1FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-direction: alternate;
}

/*Image Slider number 1 above*/







#imgslider2 {
  	position:relative;
	height: 500px;
	width: 750px;
  	margin: 0 auto;
	
}

#imgslider2 img {
	position: absolute;
	width: 750px;
	left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

 @keyframes imgslider2FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#imgslider2 img.top {
animation-name: imgslider2FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-direction: alternate;
}
/*image slider number 2 above*/







/*img slider 3 below*/
#imgslider3 {
  	position:relative;
	height: 500px;
	width: 750px;
  	margin: 0 auto;
	
}

#imgslider3 img {
	position: absolute;
	width: 750px;
	left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

 @keyframes imgslider3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#imgslider3 img.top {
animation-name: imgslider3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-direction: alternate;
}